**/__pycache__
**/*.pyc
**/*.pyo
**/*.pyd

# Ignore development and system files
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log
.env
.env.*
.env.local
.env.development.local
.env.test.local
.env.production.local

# Ignore version control files
.git
.gitignore
