
# Install the FastAPI framework
fastapi

# Install the Uvicorn server
uvicorn

# Install the SQLAlchemy ORM
SQLAlchemy

# Install fastapi-utils
sqlalchemy-utils

#install pydantic
pydantic
pydantic[email]

# Install psycopg2-binary
psycopg2-binary 

# Install alembic
alembic

# Install config
config~=0.5.1
python-dotenv
pandas
requests
bs4
